/* You can add global styles to this file, and also import other style files */

body {
  background-color: #473d46;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.container-center {
  max-width: 1000px;
  margin: 0 auto;
}